.add-comment-form {
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgb(186, 161, 219);
    min-width: 20rem;

    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    gap: 1rem;
}

.add-comment-form input {
    padding: 0 0.3rem;
    border: 1px solid rgba(138, 138, 138, 0.494);
    border-radius: 0.5rem;
    flex-grow: 1;
    height: 2rem;
}

.add-comment-form button {
    border: 1px solid rgba(138, 138, 138, 0.494);
    padding: 0 0.3rem;
    border: 0;
    border-radius: 0.5rem;
    height: 2rem;
}

.comment-list {
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgb(186, 161, 219);
    min-width: 20rem;
    border-radius: 0.5rem;
}
